.titulo{
	color:white;
	font-size:20px;
	font-weight:bold;
	padding:2%;
	background-color:lightgreen;
	border-radius:10px;
	box-shadow: 0px 2px 2px black;
	text-shadow:0px 1px 2px black;
	
	

}


.btnmatricula{
			color: black;
			background-color:lightgreen;
			padding:10px;
			padding-left:40px;
			padding-right:40px;
			text-shadow:0px 2px 1px white;
			border-radius:10px;
			border:none;
	
	
	
}

.caixastextos{
	border-radius:20px;
	padding:5px;
	
}
